name: weave

on:
  push:
    branches: [ master ]
    paths: [ '**.go' ]
  pull_request:
    branches: [ master ]
    paths: [ '**.go' ]
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.25

    - name: Build
      run: make build

    - name: Test
      run: make test

    - name: Upload coverage
      uses: codecov/codecov-action@v3
